

  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 750px;
  color: rgb(216, 212, 212);
  font-family: "Syncopate", sans-serif;
  z-index: 7;
  background-color: black;

}

.coin-search {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 26px;
  margin-left: 75px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #8034a3 0%,
    #852ba9 48%,
    #9528b0 100%
  );

  color: #e2e2e2;
}

.coin-input::placeholder {
  color: #e2e2e2;
}
